.songs-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1rem;
}

.opus-logo {
    height: 8rem;
}

.songs-nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: #0b0b0b;
    font-weight: 300;
    font-size: 1.5rem;
}

/* Search bar container */
.searchbar {
    margin: 20px;
    width: 100%;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.19);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    margin: 0 7rem;
    
    box-sizing: border-box;
}

/* Search input */
.search-input {
    flex: 1;
    border: none;
    background: transparent;
    color: #fff;
    font-size: 1.5vw;
    outline: none;
    font-weight: 500;
}

/* Search icon */
.search-icon {
    height: 2.5vw;
    width: 2.5vw;
    cursor: pointer;
}
