/* Song.css */

.song {
    font-size: 1.25rem;
    display: grid;
    grid-template-columns: 120px  repeat(6, 1fr) 50px;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.song-cover img {
    width:80px;
    height: 80px;
    margin: 0 1rem;
    object-fit: cover;
}

.song-info {
    display: flex;
    flex-direction: column;
}

.song-name {
    font-weight: 600;
}

.song-artist {
    font-weight: 300;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
}

.song-album,
.song-year,
.song-added-by,
.song-length,
.song-date-added,
.song-delete {
    text-align: center;
}

.song-delete img {
    cursor: pointer;
    width: 38px;
    height: 38px;
}