/* SongsPage.css */
.songs-page {
    padding: 1rem 4rem;
    color: #ffffff;
}

.songs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    padding: 2rem 4rem;
}

.songs-tabs {
    display: flex;
    margin-bottom: 1rem;
}

.tab {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
}

.tab.active {
    border-bottom: 2px solid #ffffff;
}

.songs-list {
    width: 100%;
    display: flex;
    flex-direction: column;
}