.playlistpage-page{
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 95vh;
}

.playlistpage-body{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2rem;
    justify-content: space-between;
    color: #ffffff;
    height: 100%;
}

.playlistpage-section{
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    gap: 1rem;
    width: 100%;
}

.playlistpage-details{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-self: flex-start;
}

.playlistpage-info{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

.playlistpage-info h1{
    font-size: 2rem;
}

.song-list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.comment-section{
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    gap: 1.5rem;
    width: 30%;
}

.comment-heading{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.addicon{
    width: 40px;
    height: 40px;
}

.playlistpage-cover{
    width: 240px;
    height: 240px;

}


.comment-input{
    font-size: 1rem;
    border: none;
    border-radius: 40px;
    padding: 15px 20px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.35);
    width: 80%;
}

.comment-input::placeholder {
    color: #A4A4A4; /* Adjust the color and opacity as needed */
    opacity: 1; /* Ensure the opacity is set to show the color correctly */
}
