body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: 
        url('../../public/assets/images/splashgirl.png'),
        linear-gradient(144.59deg, rgba(255, 255, 255, 0.2), rgba(47, 0, 234, 0.2)),
        linear-gradient(144.54deg, rgba(255, 255, 255, 0.2), rgba(0, 249, 234, 0.2)),
        linear-gradient(245.26deg, #fff, #8f00ff);

        height: 100vh;
}


.splash-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    padding-left: 3rem;
    padding-right: 3rem;
    color: #ffffff;

        

    background-size: cover, cover, cover, cover;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: center center, right center, right center, right center;
}



.splash-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.opus-logo {
    height: 12rem;
}

.signin-link {
    font-size: 2rem;
    text-decoration: none;
    color: white;
    margin-top: 2rem;
}

.splash-text h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 8rem;
    color: #ffffff;
    margin: 1.75rem .5rem;

}

.splash-text p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 2rem;
    width: 28%;
    line-height: 1.5;
}

.get-started-btn {
    position: absolute;
    top: 85vh;
    left: 42vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background-color: #000000;
    color: #ffffff;
    padding: 1.25rem 4.5rem;
    border: none;
    border-radius: 50px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
}

.get-started-btn:hover {
    background-color: #555555;
}
